common: &common_settings
    application_name: "publicardo"
    debug: true
    log_level:  "DEBUG"
    log_filename:   "autonotifier.log"
    folders:
        layout: "local"
        source_folder: "source"
        destination_folder: "destination"
    resize:
        wide_side_length: 1200
    exif:
        preserve_author: true
    watermark:
        # font: "M-1c/mplus-1c-bold.ttf"
        font: "junction/Junction-bold.otf"
        # font: "HelveticaBold.ttf"
        text: "© Alexander Lockshyn | travelfreak.ru"
        color: "#efefef"
        background_color: "#000000"
        font_size: 19
        margin: 5
        text_opacity: 0.91
        background_opacity: 0.6

development:
    <<: *common_settings

test:
    <<: *common_settings

production:
    <<: *common_settings

staging:
    <<: *common_settings
